A_modules/**
B_towork/qt.ipynb
B_towork/test_k.py
Results/**
B_iJO1366/*.txt
*/Data/**
*/*.ipynb
*/*.xlsx
*/run_experiment_k1.py
*/run_experiment_k2.py
*/run_experiment_k3.py
B_towork/justrun.py
B_towork/logfiles
*/*.md
B_towork/testlp.py
B_towork/test.lp